<div class="game-board">
    <h2>Truco!</h2>
  
    <div class="bot">
      <h3>Robô</h3>
      <div class="cards">
        <div *ngFor="let card of botCards" class="card">
          <img [src]="'assets/carta-escondida.png'" [alt]="card.name">
        </div>
      </div>
    </div>
  
    <div class="play-area">
      <h3>Mesa</h3>
      <div class="center-cards">
        <div *ngFor="let card of playedCards" class="card">
          <img [src]="card.image" [alt]="card.name">
        </div>
      </div>

    <div class="player">
        <h3>Jogador</h3>
        <div class="cards">
          <div *ngFor="let card of playerCards" class="card" (click)="playPlayerCard(card)">
            <img [src]="card.image" [alt]="card.name">
          </div>
        </div>
      </div>
  
    <button [disabled]="winner" (click)="startGame()">Continuar</button>
    <button (click)="startGame()">Novo Jogo</button>
    
  </div>